#featured-products {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.product-card {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid gray;
    padding: 15px;
    gap: 20px;
}

.product-card img {
    height: auto; 
    object-fit: cover;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.product-card button {
    height: 50px;
    width: 100px;
    background-color: orange;
    border-color: yellow;
    border-radius: 12px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: darkorange; 
    border-color: gold;
}
