.related-section, .reviews-section, .product-detail {
    display: flex; 
    gap: 20px; 
    border: 5px solid orange; 
    padding: 10px; 
    margin: 5px auto;
    flex-wrap: wrap;     
}

.related-section .product-grid {
    flex-grow: 1; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.product-detail img {
    height: auto; 
    object-fit: cover;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.related-section img {
    height: auto; object-fit: cover; border-radius: 5px; border-style: solid; border-color: black;
}

#add-to-cart-btn {
    margin: 20px auto;
    height: 50px;
    width: 100px;
    background-color: orange;
    border-color: yellow;
    border-radius: 12px;
    cursor: pointer;    
}

#add-to-cart-btn:hover {
    background-color: darkorange; 
    border-color: gold;
}