.login-card {
    max-width: 400px;
    margin: 60px auto;
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
	padding: 25px;
	border-radius: 12px;
}

.login-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #FF7417;
    text-align: center;
}

.login-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-field label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-field input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#message {
    text-align: center;
    margin-top: 10px;
}

#register {
    display: block;
    text-align: center;
    margin-top: 20px;
}