header > .main{
    background-color: #FF7417;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

header > .main > #logo {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

header > .main > .search {
    flex: 1;
    display: flex;
}

header > .main > .search > #search-bar {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

header > .main > .search > #search-button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #febd69;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
}

header > .main > #account-link {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    white-space: nowrap;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

header > .main > #cart-logo {
    text-decoration: none;
    color: white;
    font-size: 18px;
    white-space: nowrap;
    font-weight: bold;
    possition: relative;
    display: inline-block;
}

header > .main > #cart-count {
    text-decoration: none;
    color: white;
    font-size: 18px;
    white-space: nowrap;
    font-weight: bold;
    possition: relative;
    display: inline-block;
}

header > .subsection {
    background-color: #febd69;
}

header > .subsection > nav > ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

header > .subsection > nav li {
    display: inline;
    margin-right: 40px;
}

header > .subsection > nav li > a {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
}

header > .subsection > nav li > a:hover, nav li > a.current {
    color: #FF7417;
}