.footer {
  background-color: #febd69;
  color: white;
  font-family: Arial, sans-serif;
  padding-top: 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 40px;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  flex: 1;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.footer-section a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer-section a:hover {
  color: #febd69;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 260px;
  flex: 1;
}

.newsletter-form {
  display: flex;
  gap: 10px;
}

.newsletter-form input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  flex: 1;
}

.newsletter-form button {
  padding: 8px 16px;
  border: none;
  background-color: #febd69;
  color: #FF7417;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: #ffc57f;
}

.footer-bottom {
  background-color: #FF7417;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
}